.begin-button{
        box-shadow:inset 0px 34px 0px -15px #353333;
        background-color:#000000;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 70px;
        text-decoration:none;
        position: absolute;
        transform: translate(-50%, 20vh);
}

    
